<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>PRAiSE World Modelers</title>
	<link rel="stylesheet" href="/layouts/pure-min.css" />
	<link rel="stylesheet" href="/layouts/side-menu.css">
</head>

<body>
	<div id="layout">
		<a href="#menu" id="menuLink" class="menu-link">
			<span></span>
		</a>
		<div id="menu">
			<div class="pure-menu" th:fragment="menu">
				<a class="pure-menu-heading" href="#">PRAiSE-WM</a>

				<ul class="pure-menu-list">
					<li class="pure-menu-item">
						<a href="/" class="pure-menu-link">Home</a>
					</li>
					<li class="pure-menu-item">
						<a href="/models" class="pure-menu-link">Models</a>
					</li>

					<li class="pure-menu-item">
							<a href="/swagger" class="pure-menu-link">REST API</a>
					</li>

					<li class="pure-menu-item menu-item-divided">
						<a href="#" class="pure-menu-link">About</a>
					</li>

					<li class="pure-menu-item">
						<a href="#" class="pure-menu-link">Contact</a>
					</li>
				</ul>
			</div>
		</div>

		<div id="main">
			<div class="header">
				<h1>Page Template Fragments</h1>
				<h2>The content of this page is ignored</h2>
				<p>Only fragments of this page (primarily the menu) are extracted and injected into other pages.</p>
			</div>

			<div class="content" id="content">
				<p>More content here.</p>
			</div>
		</div>
	</div>
	<script src="/layouts/ui.js"></script>
</body>

</html>
